@use "utils/mixins" as *;
@use "utils/variables" as *;
@use "menu_restaurants" as *;
@use "desktop.scss" as *;
@use "../sass/desktop_menu_restaurants.scss" as *;
@use "../sass/tablette.scss" as *;
@use "../sass/tablette_menu_restaurants.scss" as *;

@font-face{
    font-family:"shrikhand.regular";
    src:url("Fonts/shrikhand.regular.ttf");
}
@font-face{
    font-family:"Roboto-Thin";
    src:url("Fonts/Roboto-Thin.ttf");
}
@font-face{
    font-family:"Roboto-Black";
    src:url("Fonts/Roboto-Black.ttf");
}
@font-face{
    font-family:"Roboto-Regular";
    src:url("Fonts/Roboto-Regular.ttf");
}

        /* PAGE LOADER */
        .loader{
            position: fixed; /* Même si sa scroll, le bloc restera la */
            display: grid; /* Permet la propriété grid */
            place-items: center; /* Met les éléments au centre */
            background-color: white; /* Background color du bloc */
            height: 100vh; /* Hauteur du bloc */
            inset: 0; /* En globe top, right, bottom and left */
            z-index: 1; /* Permet de mettre un élément sur un autre */
            /*opacity: 0.9; /* Permet de voir en transparant / change l'opacité */
            animation: disappear 200ms 3s forwards; /* Animation ! Nom / durée / délais / style de l'animation */
            transform-origin: top; /* L'animation part vers le top */
        }
        .loader i{
            color: #9356DC; /* Couleur icon */
        }

        /* ANIMATION PAGE LOADER */
        @keyframes disappear {
            from{
                transform: scale(1);
            }
            to{
                transform: scale(0);
            }
        }


/* Mobile */
@media screen and (max-width: 768px){
        

    /* GENERAL */
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box; /* Le containaire enfant ne peut pas partir du containaire parent */
    }

    /* HEADER */
    .header__logo{
        width: 50%; /* Largeur du logo */
        height: 50%; /* Hauteur du logo */
        margin-top: 30px; /* Marge en haut */
        margin-left: 120px; /* Marge à gauche */
    }

    /* MAIN */
    .middle-container a{
        text-decoration: none; /* Supprime la ligne (la barre) en dessous du lien */
        color: black; /* Met le texte en noir */
    }

    /* Localisation */
    .lien-localisation a{
        text-decoration: none; /* Supprime la ligne (la barre) en dessous du lien */
        color: black; /* Met le texte en noir */
    }
    .localisation-restaurant{
        display: flex; /* Propriété Flexbox */
        flex-direction: row; /* Met les éléments sur la même ligne */
        justify-content: space-between; /* Espace entre les éléments */
        background-color: $background-grey; /* Bakcground couleur */
        margin-top: 5px; /* Marge en haut */
        padding : 20px; /* Espace => taille du bloc */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; /* Ajoute des ombres à la boîte d'un élément : Première valeur Le décalage horizontal de l'ombre. Deuxième Valeur Le décalage vertical de l'ombre. La troisième valeur L'adoucissement du dégradé. */
    }
    .localisation-restaurant__icon{
        padding-left: 120px; /* Espace en haut */
        padding-top: 12px; /* Espace à gauche */
    }
    .localisation-restaurant__texte{
        font-family: $fonts-text; /* Police d'écriture */
        font-size: 22px; /* Taille de la police d'écriture */
        font-weight: bold; /* Met le texte en gras */
        padding-right: 155px; /* Espace à droite */
    }
    
            /* Réservation menu */
    .Réservation{
        background-color: $background-grey-clair; /* Bakcground couleur */
        width: 100%; /* Largueur du contenaire */ 
        height: 300px; /* Longueur du contenaire */ 
        padding-left: 50px; /* Espace à gauche */
        padding-right: 50px; /* Espace à droite */
        text-align: center; /* Met le bloc au cente */
    }
    .Réservation__titre{
        padding-top: 30px; /* Espace entre le titre et le texte d'en haut */
        font-family: "Roboto-Black"; /* Police d'écriture */
        font-weight: 500; /* Nuance de gras */
    }
    .Réservation__texte{
        padding-top: 20px; /* Espace en haut */
        font-size: 22px; /* Taille du texte */
        font-family: "Roboto-Regular"; /* Police d'écriture */
    }
    .Réservation__button-recherche{
        padding-top: 20px; /* Espace entre le bouton et le texte d'en haut */
    }
    .button-recherche{
        @include gradient-bouton (); /* Mixins : Bakcground couleur dégradé */
        @include bouton-general (); /* Bouton Général */
        font-family: $fonts-text; /* Police d'écriture */
    }
    
        /* Fonctionnement Menu */
    .Container-Fonctionnement{
        font-family: $fonts-text; /* Police d'écriture */  
    }
    
    .Container-Fonctionnement__titre{
        padding-top: 40px; /* Espace en haut */
        padding-left: 20px; /* Espace à gauche */
        padding-bottom: 20px; /* Espace en bas */
        font-family: "Roboto-Black"; /* Police d'écriture */
        font-weight: 500; /* Nuance de gras */
    }
    .Container-Fonctionnement__card{
        background-color: #F6F6F6; /* Bakcground couleur */
        width: 400px; /* Largeur de la card */
        height: 80px; /* Hauteur de la card */
        margin-left: 50px; /* Marge à gauche */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; /* Ajoute des ombres à la boîte d'un élément : Première valeur Le décalage horizontal de l'ombre. Deuxième Valeur Le décalage vertical de l'ombre. La troisième valeur L'adoucissement du dégradé. */
        border-radius: 20px ; /* Bordure arrondie de 30 px */
        margin-top: 20px; /* Marge en haut */
    }
    
    .Container-Fonctionnement__card:hover{
        background-color: #F5EDFF; /* Background Couleur au passage de la souris */
    }
    .Container-Fonctionnement__card--body{
        display: flex; /* Propriété Flexbox */
        flex-direction: row; /* Permet de mettre les éléments en ligne */
        justify-content: space-between; /* Permet d'espacer les éléments */
        align-items: center; /* Permet de centrer les éléments */
        padding-top: 30px; /* Espace en haut */
    }
    .Fonctionnement__Icon-numéro{
        border: 2px solid #9356DC; /* Bordure de l'icone en grise */
        color: white; /* Couleur de l'îcone */
        font-size: 13px; /* Taille de la bordure */
        background-color:#9356DC ; /* Bakcground couleur */
        border-radius: 25px; /* Bordure arrondie de l'icône  => ce qui permet de créer un cercle */
        width: 25px; /* Largeur de la bordure entre l'icône et le cercle */
        height: 25px; /* Hauteur de la bordure entre l'icône et le cerlce */
        display: flex; /* Permet de donner la propriété flexbox */ 
        justify-content: center; /* ce qui centre horizontalement l'icône dans la bulle en grise */ 
        align-items: center; /* ce qui centrer verticalement l'icône dans la bulle en grise */ 
        margin-left: -10px; /* Marge qui sépare l'icone du texte */
    }
    .Fonctionnement__Icon-logo{
        margin-left: -20px; /* Marge à gauche */
        color: gray; /* Couleur de l'îcone */
    }
        /* Lien Passage de la souris */
    .Fonctionnement__Icon-logo i:hover{
        color: #9356DC; /* Couleur de l'îcone au passage de la souris */
    }
    
    .Fonctionnement__texte-card{
        padding-right: 80px; /* Espace à droite */
        font-size: 20px; /* Taille du texte */
        font-weight: 600; /* Met le texte en gras */
        font-family: "Roboto-Regular"; /* Police d'écriture */
    }
    
        /* Fonctionnement Menu => Composition Card */
    .Composition-texte-card{
        padding-right: 95px; /* Espace à droite */
    }
    /* Fonctionnement Menu => Dégustation Card */
    .Dégustation-texte-card{
        padding-right: 90px; /* Espace à droite */
    }
    
    
    /* RESTAURANTS => CONTENAIRE */
    .Restaurants{
        background-color: $background-grey-clair; /* Bakcground couleur */
        width: 100%; /* Largeur du container */
        height: 1700px; /* Hauteur du container */
        margin-top: 80px; /* Marge en haut */
    }
    .Restaurants h3 {
        font-family: "Roboto-Regular"; /* Police d'écriture */
        font-weight: 600; /* Nuance de gras */
    }
    .Restaurants p{
        font-family: "Roboto-Regular"; /* Police d'écriture */
        font-weight: 200; /* Nuance de gras */
    }
    .Restaurants__titre{
        padding-top: 50px; /* Espace en haut */
        padding-left: 20px; /* Espece l'élément à gauche */
        font-family: "Roboto-Black"; /* Police d'écriture */
        font-size: 18px; /* Taille de la police d'écriture */
    }
    
        /* RESTAURANTS => MINI CARDS */
    .Restaurants__cards{
         @include Restaurants__mini-cards (); /* Mixins : La créaction des Cards => Background color, etc.. */
    }
    .Restaurants__cards a{
        text-decoration: none; /* Enlève le tiret du lien */
        color: black /* Couleur du texte (lien) */
    }
    .Restaurants__mini-cards {
        @include Flex-Restaurants__mini-cards (); /* Mixins : La propriété Flexbox => Disposition des Cards */
    }
    .Restaurants__cards-images{
        @include Restaurants__cards-images (); /* Mixins : Images des minis cards Restaurants */
    }
    .Restaurants__cards__container-nouveau{
        @include Restaurants__cards-nouveau (); /* Mixins : Bloc Nouveau vert en haut des images de restaurants */
    }
    .Restaurants__cards__container-nouveau p{
        @include Restaurants__cards-nouveau--texte (); /* Mixins : Texte => Bloc Nouveau vert en haut des images de restaurants */
        font-family: "Roboto-Regular"; /* Police d'écriture */ 
        font-weight: 900;
    }
        /* CARDS Ménilmontant + Charonne */
    .Restaurants__cards-body{
        margin-top: 220px; /* Marge en haut */
        font-family: $fonts-text; /* Police d'écriture */ 
        @include card-titres-texte (); /* Mixins : Body titres + texte */
    }
    .Restaurants__cards-body p{
        @include card-paragraphe (); /* Mixins : Met un espace entre le h3 et le p */
    }
    .Restaurants__cards-body i{
        @include card-icon (); /* Mixins : Body icon */
    }
        /* CARDS Cité Rouge + Folie-Méricourt  */
    .Restaurants__cards-body--modifier{
        padding-top: 10px; /* Espace en haut */
        font-family: $fonts-text; /* Police d'écriture */ 
        @include card-titres-texte (); /* Mixins : Body titres + texte */
    }
    .Restaurants__cards-body--modifier p {
        @include card-paragraphe (); /* Mixins : Met un espace entre le h3 et le p */
    }
    .Restaurants__cards-body--modifier i{
        @include card-icon (); /* Mixins : Body icon */
    }

        /* COEUR CARD ICON COEUR TRANSITION */
    .fas{
        color: transparent;
        @include gradient-bouton-icon--coeur (); /* Mixins : Bakcground couleur dégradé */
        background-clip: text; /* Définit la façon dont l'arrière-plan d'un élément (que ce soit l'image ou la couleur) s'étend sous la boîte de bordure, la boîte de remplissage (padding) ou la boîte de contenu. */
        -webkit-background-clip: text; /* Si background clip ne marche pas */
        opacity: 0; /* Permet de pas voir la couleur */
        transition: all 200ms ease-in-out; /* */
    }
    .Restaurants__cards-body--icon:hover .fas {
        opacity: 1; /* Permet de voir la couleur */
    }
    .Restaurants__cards-body-icon--modifier:hover .fas{
        opacity: 1; /* Permet de voir la couleur */
    }

    /* FOOTER */
    .footer{
        background-color: #353535; /* Couleur de l'arrière plan du footer*/
        width: 100%; /* Largeur de l'arrière plan */
        height: 260px; /* Hauteur de l'arrière plan */
        padding: 30px; /* Met au milieu les listes */
        display: flex; /* Permet la propriété flexbox */
        flex-direction: column; /* Met les éléments en colonne */
    }
    .footer__titre{
        color: white; /* Couleur Blanche */
        font-family: $fonts-title; /* Police d'écriture */
        padding-bottom: 20px; /* Espace en bas */
        font-weight: 300; /* Nuance de gras */
    }
    .Footer__restaurant{
        @include footer_flex (); /* Mixins : Propriété flexbox + Met les éléments en ligne */
    }
    .Footer__icon-texte{
        @include Footer__icon-texte (); /* Mixins : Espace à gauche */
    }
    .Footer__icon-texte--modifier{
        @include Footer__icon-texte--modifier (); /* Mixins : Espace à gauche */
    }
    .Footer__partenaire{
        @include footer_flex (); /* Mixins : Propriété flexbox + Met les éléments en ligne */
    }
    footer ul{
        width: 100%; /* Largeur des listes : permet de les rapprocher ensemble tout en laissant un espace */
        font-size: 18px; /* Tailel d'écriture de la liste */
        font-family : $fonts-text; /* FONTS TEXTES */
        color: white; /* Couleur Blanche */
    }
    footer li{
        margin-bottom: 16px; /* Sépare les listes entre elles */
        list-style-type: none; /* Enlève les points */
    } 
    footer li a{
        text-decoration: none; /* Enlève l'aspect lien */
        color: white; /* Couleur Blanche */
    } 
    .titre-footer{ 
        font-weight: bold; /* Permet de mettre les titres en gras */
    }


}
