@use "utils/mixins" as *;
@use "utils/variables" as *;


/* Page Mobile Menu à la française */
@media screen and (max-width: 768px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box; /* Le containaire enfant ne peut pas partir du containaire parent */
    }

        /* HEADER */
    
    /* Logo + Icon */
    .header__logo--menu-restaurants{
        width: 50%; /* Largeur du logo */
        height: 50%; /* Hauteur du logo */
        margin-top: 30px; /* Marge en haut */
        margin-left: 120px; /* Marge à gauche */
        position: relative;
    }
    .fa-arrow-left{
        position: absolute;
        left: 20px;
        top: 50px; /* Marge en haut */
        color: black;
    }

        /* MAIN */

    /* Image de fond */
    .main__background-image{
        padding-top: 10px;
    }
    .background-image{
        width: 100%;
        height: 50%;
        object-fit: cover; /* Le contenu remplacé est dimensionné pour maintenir son ratio d'affichage tout en remplissant toute la boîte de contenu */
        position: relative;
    }
    /* Container => menu / la carte */
    .main__container{
        background-color: $background-grey-clair;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 360px;
        border-top-left-radius: 50px; /* Bordure arrondie à gauche de l'image */
        border-top-right-radius: 50px; /* Bordure arrondie à droite de l'image */
    }

    /* Titre + icon menu */
    .main__titre-icon{
        padding: 30px;
        position: relative;
    }
    .main__titre-icon h1{
        font-family: $fonts-title ;/* FONTS TITRE + LOGO */
        font-weight: 100;
    }
    .main__titre-icon--coeur i{
        @include card-coeur-restaurants (); /* Mixins : ICON COEUR PAGE MENU */
    }
    .main__titre-icon:hover .fas{
        opacity: 1; /* Permet de voir la couleur */
    }
    .color-icon-restaurant{
        color: black;
    }

    /* ENTRÉE/PLAT/DESSERT : TITRE + BARRE VERTE  */
    .main__menu{
        font-family: $fonts-text;
        background-color: $background-grey-clair;
        padding-top: 10px;
        padding-left: 30px;
    }
    .main__menu-titre{
        text-transform: uppercase; /* tous les caractères seront écrits en capitales */
        font-weight: 400; /* Nuance de gras */
        position: relative;
            /* Barre verte en dessous du Entrée/Plat/Dessert */
        &::after{
            content: "";
            height: 3px;
            width: 47px;
            background-color: $couleur-tertiaire;
            position: absolute;
            top: 28px;
            left: 0px;
        }
    }
    /* CARDS + ANIMATIONS */
    .main__menu-cards{
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; /* Ajoute des ombres à la boîte d'un élément : Première valeur Le décalage horizontal de l'ombre. Deuxième Valeur Le décalage vertical de l'ombre. La troisième valeur L'adoucissement du dégradé. */
        height: 80px;
        margin-top: 30px;
        display: flex;
        margin-right: 20px;
        align-items: center;
        padding: 20px;
    }
    .main__menu-cards--titre{
        padding-bottom: 10px;
    }
    .main__menu-cards--prix{
        margin-left: auto;
        font-weight: 900;
    }
}