
$fonts-title : "shrikhand.regular"; /* FONTS TITRE + LOGO */


$fonts-text : "Roboto-Thin"; /* FONTS TEXTES */

$background-grey: #EAEAEA, ; /* Background Color  Localisation */

$background-grey-clair : #F6F6F6; /* Background Color  Reservation menu avec bouton */






